.content {
    border-bottom: 1px solid #fafafa;
    border: 2px solid #b78429;
    border-radius: 8px;
  }
  
  .content:hover {
      box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
  }
  
  .buttons {
      margin-top: 30px;
      margin-bottom: 20px;
  }
  
  .buttons button {
      color: white;
      background-color: #24344d;
      border-radius: 8px;
  }
  
  .infos {
      margin-top: 50px;
      margin-bottom: 20px;
  
  }
  