.content {
    border-bottom: 1px solid #fafafa;
    border: 2px solid #b78429;
    border-radius: 8px;
    padding: 0%;
    margin-top: 5%;
    background-color: white;
  }
  
  .content:hover {
      box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
  }
  
  .buttons {
      margin-top: 30px;
      margin-bottom: 20px;
  }
  
  .buttons button {
      color: white;
      background-color: #24344f;
      border-radius: 8px;
  }

  .buttons button:hover {
    background-color: #3e567c;
}
  
  .infos {
      margin-top: 50px;
      margin-bottom: 20px;
  
  }
  