@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #212121; */
  background-color: #ccd4f2;
  background-image: linear-gradient(to right top, #8e8e8e 0%, #8da0b1 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.profilclass {
  background-image: linear-gradient(to right top, white 0%, #8da0b1 80%, #1f2833 100%);
}

.ajoutdeclarationclass {
  background-image: linear-gradient(to right top, white 0%, #8da0b1 80%, #1f2833 100%);
}

.changerpassword {
  background-image: linear-gradient(to right top, white 0%, #8da0b1 80%, #1f2833 100%);
}

.gestiondescomptes {
  background-image: linear-gradient(to right top, white 0%, #8da0b1 80%, #1f2833 100%);
}

.ajoutcategorieclass {
  background-image: linear-gradient(to right top, white 0%, #8da0b1 80%, #1f2833 100%);
}

.categoriesclass {
  background-image: linear-gradient(to right top, white 0%, #8da0b1 80%, #1f2833 100%);
}

.mesdeclarations {
  background-image: linear-gradient(to right top, white 0%, #8da0b1 80%, #1f2833 100%);
}

.listedeclarations {
  background-image: linear-gradient(to right top, white 0%, #8da0b1 80%, #1f2833 100%);
}


@media screen and (min-width:900px){
.shadow {
  background-color:  #e8e8e8;
  max-width: 45%;
  margin-left: 10%;
  border-radius: 20px;
  margin-top: 0.2%;
  border: 2px solid #b78429;
}
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #212121; */
  background-color: #60061e;
}
.shadow1 {
  background-color:#e8e8e8;
  max-width: 45%;
  margin-left: 10%;
  border-radius: 20px;
  margin-top: 7%;
  border: 2px solid #b78429;
}
.shadow2 {
  background-color:#e8e8e8;
  max-width: 65%;
  margin-left: 10%;
  border-radius: 20px;
  margin-top: 5%;
}
}
@media screen and (max-width:900px) and (min-width:600px){
  .shadow {
    background-color: #e8e8e8;
    max-width: 70%;
    margin-left: 10%;
    border-radius: 20px;
    margin-top: 0.2%;
  }
  .shadow1 {
    background-color:#e8e8e8;
    max-width: 45%;
    margin-left: 50%;
    border-radius: 20px;
    margin-top: 5%;
  }
  .shadow2 {
    background-color:#e8e8e8;
    max-width: 65%;
    margin-left: 10%;
    border-radius: 20px;
    margin-top: 5%;
  }
}
@media screen and (max-width:600px){
  .shadow {
    background-color: #e8e8e8;
    max-width: 80%;
    margin-left: 8%;
    border-radius: 20px;
    margin-top: 2%;
  }
  .shadow1 {
    background-color:#e8e8e8;
    max-width: 45%;
    margin-left: 50%;
    border-radius: 20px;
    margin-top: 5%;
  }
  .shadow2 {
    background-color:#e8e8e8;
    max-width: 65%;
    margin-left: 10%;
    border-radius: 20px;
    margin-top: 5%;
  }
}
