@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #212121; */
  background-color: #ccd4f2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@media screen and (min-width:900px){
.shadow {
  background-color:white;
  max-width: 45%;
  margin-left: 10%;
  border-radius: 20px;
  margin-top: 0.2%;
}
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #212121; */
  background-color: #60061e;
}
.shadow1 {
  background-color:white;
  max-width: 45%;
  margin-left: 10%;
  border-radius: 20px;
  margin-top: 7%;
}
}
@media screen and (max-width:900px) and (min-width:600px){
  .shadow {
    background-color: white;
    max-width: 70%;
    margin-left: 10%;
    border-radius: 20px;
    margin-top: 0.2%;
  }
  .shadow1 {
    background-color:white;
    max-width: 45%;
    margin-left: 10%;
    border-radius: 20px;
    margin-top: 5%;
  }
}
@media screen and (max-width:600px){
  .shadow {
    background-color: white;
    max-width: 80%;
    margin-left: 8%;
    border-radius: 20px;
    margin-top: 2%;
  }
  .shadow1 {
    background-color:white;
    max-width: 45%;
    margin-left: 10%;
    border-radius: 20px;
    margin-top: 5%;
  }
}
