.form {
  border: 2px solid #b78429;
  border-radius: 8px;
  padding: 0%;
  margin-top: 5%;
  background-color: white;
}

.categories {
  border: 2px solid #b78429;
  border-radius: 8px;
  padding: 0%;
  margin-top: 5%;
  background-color: white;
}

.categories #title {
  font-size: 25px;
  margin-top: 30px;
  padding: 2%;
  margin-bottom: 30px;
  background-color: #1f2833;
  color: white;
  text-align: center;
}

.blog-categorie {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
  border: 2px solid #b78429;
  border-radius: 8px;

}

.blog-categorie h2 {
  font-size: 18px;
  color: #24344f;
}

.blog-categorie:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
  border-color: orange;
}

.create {
  max-width: 90%;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 25px;
  margin-top: 30px;
  padding: 2%;
  margin-bottom: 30px;
  background-color: #1f2833;
  color: white;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #24344f;
  border-color: #24344f;
  width: 100px;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 25%;
  margin-bottom: 7%;
  margin-top: 9%;
}

.create button:hover {
  background-color: #3e567c;
}

.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.blog-preview h2 {
  font-size: 18px;
  color: #24344f;
  /* margin-bottom: 10px; */
  /* margin-right: 20%; */
}
.blog-preview a{
  text-decoration: none;
}
.blog-preview p{
    color: black;
    width: 100%;
    padding: 6px 10px;
}
.ligne {
    width: 600px;
}

body{
	background: #4527A0;
}

.list-group{
	width: 400px !important;

}

.list-group-item{
	margin-top:10px;
	border-radius: none; 
	background: #5E35B1;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}


.list-group-item:hover{
	transform: scaleX(1.1);
}



.check{
	opacity: 0;
	transition: all 0.6s ease-in-out;
}

.list-group-item:hover .check {
	opacity: 1;

}

.about span{
	font-size: 15px;
	margin-right: 10px;

}

input[type=checkbox] {
         position: relative;
	       cursor: pointer;
    }
    input[type=checkbox]:before {
         content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0px;
    left: 0;
    border: 1px solid #10a3f9;
    border-radius: 3px;
    background-color: white;

}
    input[type=checkbox]:checked:after {
         content: "";
    display: block;
    width: 7px;
    height: 12px;
    border: solid #007bff;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 2px;
    left: 6px;
   }

  input[type="checkbox"]:checked + .check { opacity: 1; }